/* src/styles/layout/_header.scss */

.header {
  background-color: white;
  color: var(--color-text);
  padding: 1rem 0;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 1rem;
  }

  &__title {
    font-size: 1.125rem;
    font-weight: 700;

    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
}
