.header {
  background: var(--color-background);
  // background: transparent;
  color: var(--color-text);
  position: relative;
  a {
    text-decoration: none;
  }

  &__container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 1px solid var(--color-border);
  }
  &__logo-container {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 1rem;
  }
  &__title {
    font-size: 1.125rem;
    font-weight: 700;

    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
}
