.button {
  /* Base button styles */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: var(--radius-button);
  font-weight: 500;
  transition:
    background-color 0.15s,
    color 0.15s,
    border-color 0.15s,
    box-shadow 0.15s;
  cursor: pointer;
  /* Default size */
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  height: 2.25rem;
  border: 0px;
  &:hover {
    text-decoration: none;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  /* Button variants */
  &--primary,
  &--default {
    background-color: var(--color-primary);
    color: white;
    &:hover {
      background-color: var(--color-primary-dark);
      color: white;
    }
  }

  &--destructive {
    background-color: var(--color-destructive);
    color: white;

    &:hover {
      background-color: var(--color-destructive-dark);
      color: white;
    }
  }

  &--outline {
    border: 1px solid var(--color-border);
    background-color: transparent;
    color: var(--color-foreground);

    &:hover {
      background-color: var(--color-background-alt);
      color: var(--color-text);
    }
  }

  &--secondary {
    background-color: var(--color-secondary);
    color: white;

    &:hover {
      background-color: var(--color-secondary-dark);
      color: white;
    }
  }

  &--ghost {
    background-color: transparent;

    &:hover {
      background-color: var(--color-background-alt);
      color: var(--color-text);
    }
  }

  &--link {
    background-color: transparent;
    color: var(--color-primary);
    padding: 0;
  }

  &--gradient {
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
    color: white;

    &:hover {
      background: linear-gradient(to right, var(--color-primary-dark), var(--color-secondary-dark));
    }
  }

  /* Button sizes */
  &--sm {
    height: 2rem;
    padding: 0 0.75rem;
    font-size: 0.75rem;
  }

  &--default {
    height: 2.25rem;
    padding: 0 1rem;
    font-size: 0.875rem;
  }

  &--lg {
    height: 2.5rem;
    padding: 0 1.5rem;
    font-size: 0.875rem;
  }

  &--xl {
    height: 3rem;
    padding: 0 2rem;
    font-size: 1.125rem;
  }

  &--icon {
    width: 2.25rem;
    height: 2.25rem;
    padding: 0;
  }
}
