:root {
  /* Colors */
  --color-primary: #f472b6;
  --color-primary-dark: #db2777;
  --color-secondary: #6ba3fe;
  --color-secondary-dark: #476fdb;

  --color-text: #111827;
  --color-text-light: #6b7280;
  --color-background: #ffffff;
  --color-background-alt: #f9fafb;

  --color-border: #e5e7eb;
  --color-border-dark: #d1d5db;
}
