:root {
  --color-primary: #fca311;
  --color-primary-dark: #de8901;

  --color-secondary: #14213d;
  --color-secondary-dark: #0b1324;

  --color-text: #111827;
  --color-text-light: #6b7280;
  --color-background: #ffffff;
  --color-background-alt: #f9fafb;
  --color-border: #eeeeee;

  --color-text-primary: #1f2937;
  --color-text-secondary: #4b5563;

  --radius-button: 10px;
  --radius-image: 24px;

  --container-max-width: 1200px;

  //overwrite values for darker backgrounds
  .darkmode {
    --color-text: #ffffff;
    --color-text-light: #d6d6d6;
    --color-background: #1d1d1d;
    --color-background-alt: #3f3f3f;
    --color-border: #555555;
    --color-text-primary: #ffffff;
    --color-text-secondary: #d6d6d6;
  }
}
